body
{
    background-color: rgb(40, 40, 40);
    margin: 20px;
}
.nav-bar
{
   list-style-type: none;
   margin: 100;
   padding: 0;
   width: auto;
   background-color: rgb(53, 53, 53);
   height: auto;
   position: sticky;
   overflow: hidden;
   top: 0;
}
.nav-select
{
    float: left;
}
.nav-select a {
    display: block;
    padding: 8px;
    color:aliceblue;
    background-color: rgb(53, 53, 53);
    text-decoration: none;
}
.nav-select a:hover
{
    background-color: aliceblue;
    color:rgb(53, 53, 53);
}
.nav-bar .active
{
    background-color: aquamarine;
    color: black;
}
*
{
    color: whitesmoke;
}
h1{
    font-size:  135px;
    text-align: left;
}
